<%= content_tag :div, class: "#{request.status} requestcard" do %>
  <div class="picto">
    <%=  content_tag(:i, "", class: "fa fa-#{request.category} category_avatar") %>
  </div>
  <div class="username content">
    <h5><%=request.refugee.first_name%></h5>
    <p><%= request.content %></p>
  </div>
  <div class="status">
    <p><%= request.status %></p>
  </div>
  <% if current_user.category == "volunteer" && request.status == "not_assigned"%>
    <%= simple_form_for request do |f| %>
      <%= f.input :status, as: :hidden, input_html: { :value => "pending" } %>
      <%= f.button :submit, "Answer", class: "btn btn-primary" %>
    <% end %>
  <% elsif current_user.category == "volunteer" && request.status == "pending"%>
  <%= simple_form_for request do |f| %>
      <%= f.input :status, as: :hidden, input_html: { :value => "solved" } %>
      <%= f.button :submit, "Mark as solved", class: "btn btn-success" %>
    <% end %>
  <% elsif current_user.category == "refugee" && request.status == "not_assigned"%>
    <%= simple_form_for request do |f| %>
      <%= f.input :status, as: :hidden, input_html: { :value => "cancel" } %>
      <%= f.button :submit, "Cancel", class: "btn btn-primary" %>
      <% raise %>
    <% end %>
  <% end %>
<% end %>
