<%= content_tag :div, class: "#{request.status} requestcard" do %>
  <div class="picto">
    <%=  content_tag(:i, "", class: "fa fa-#{request.category} category_avatar") %>
  </div>
  <div class="username content">
    <h5><%=request.refugee.first_name%></h5>
    <p><%= request.content %></p>
  </div>
  <div class="status">
    <p><%= request.status %></p>
  </div>
  <% if current_user.category == "volunteer" && request.status == "not_assigned"%>
    <%= link_to '#' do %>
      <div class="btn btn-primary">
        Answer
      </div>
    <% end %>
  <% elsif current_user.category == "volunteer" && request.status == "pending"%>
  <%= link_to '#' do %>
    <div class="btn btn-success">
      Mark as solved
    </div>
  <% end %>
  <% elsif current_user.category == "refugee" && request.status == "not_assigned"%>
    <%= link_to '#' do %>
      <div class="btn btn-danger">
        Cancel request
      </div>
    <% end %>
  <% end %>
<% end %>
