<div class="container">
  <% if current_user.category == "volunteer" %>
    <h1>Your tickets</h1>
  <% else %>
    <h1>Your requests</h1>
  <% end %>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% @pending_requests.each do |pending_request|%>
        <div class="row">
          <div class="col-xs-2">
            <div class="picto">
              <%= image_tag 'cross_logo.svg'%>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="request-content"><%= pending_request.content %></div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% @not_assigned_requests.each do |not_assigned_request|%>
        <div class="row">
          <div class="col-xs-2">
            <div class="picto">
              <%= image_tag 'cross_logo.svg'%>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="request-content"><%= not_assigned_request.content %></div>
          </div>
          <% if current_user.category == 'volunteer' %>
          <div class="col-xs-2">
            <div class="btn btn-primary"> <%= link_to 'Answer', message_request_path(not_assigned_request) %></div>
          </div>
          <% end %>
        </div>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <% @solved_requests.each do |solved_request|%>
        <div class="row">
          <div class="col-xs-2">
            <div class="picto">
              <%= image_tag 'cross_logo.svg'%>
            </div>
          </div>
          <div class="col-xs-8">
            <div class="request-content"><%= solved_request.content %></div>
          </div>
        </div>
      <%end%>
    </div>
  </div>

</div>
